  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Welcome!</h1>
      <h2>My name is Qing Ping, a fifth-year Ph.D. student in Information Science from Drexel University. My research interests include recommender systems incorporating a variety of textual information, natural language processing, and interactive visualizations of text documents at different levels. My skill set includes machine learning/NLP techniques (neural collaborative filtering models, text summarization/classification, sentiment analysis, deep learning), information visualization (D3.js, Tableau, Gephi, Pajek, etc.) and programming (Python, Java, R). <br><br> You can find my resume  <a href="https://drive.google.com/file/d/1Fs0ODX2LQlQA1L1BQWsdN6cHMgyKgF89/view?usp=sharing">here</a>.</h2>
      <hr />
    </div>
  </div>
  <div class ="container">
